*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana;
}

#banner{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
    text-align: center;
}

#prawolewo{
    display: flex;
}

#prawy{
    background-color: #F6E5DC;
    width: 40%;
    font-size: 150%;
    padding: 30px;
}


#lewy{
    width: 60%;
    background-color: #F6E5DC;
    
}

#dolny{
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}

footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}

img{
    height: 350px;
}

.guziki{
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}